//--DISCORD ICON--//
$discord-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACLUlEQVR4Ae2W09YdMQCFy9v2AXpb3fYJqjeqbdu2bdu23R7b5m52fmcdjP65OnutPZ6dL8kkmT4dmrjya3/hOcIRYfSSI+1l9O+jiACzhGGTZ9UCCNsIEK4FADvdAtAFsHrfH9x7GcG7b0lcfhDEkh2/sPbAX2w55pBeI46X7f6Nx2+j+OvO8lm+Yx5g3uafeP89CX84Lwv/+ieNbK6MekqmS/L57//SSGfLfIcZxgHefk2gXK5K61WxWOGOGcYAFmz7iUoVZsUMZukHuPk0DKt040lIP0AkXoRFYpY+AH7BtZQvVPDLmZF7ValMGb9dGZRqfy/M1A5w7k4Aqvj1L9r+i/e5l+cdCkYLmLXhh7y37uBflGt8PMzUDMAvVxGHVI8Annfo9rNwj3sufw6qmKkZwBPMQxVrOWX1N97nXp536Icj3fnu7E0/kMtXoIiZ2gHqTTb/PFlceRCUe1Vffqdw9WFQTlo1xEztAN17kMeZbBl6lc2Xe3wLPNIMoNaCzXdL9PNPR6bp5OTwZnHneRh/lVZipmaAeVt+yuGmzmgvP8UxY913uQCduuGT3XHtUQinb/qx85QTc0T/P3kXU4cis5ipHYCeJLz7jEsuLolUSYZuPe5ouszyGT6baF+YmDGp9UOiEaAFkLW4EB8z9QDstxggKTxeOKEVYLDwTYshxgiPEg41BFBARvJFizykPXOYsFMBsFeEEX5nO4ACMUj4uu0ACsRA4T0d5/8BF8kBJfv/LssAAAAASUVORK5CYII=') no-repeat 2px 2px;

//----LIGHT THEME VARIABLES----//
$light-dialog: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAPElEQVQI12O8f+fafwY00NTazcB4/861/wrKmnDBnp4ehmvXrpErsWb9VhQ7rl27xsCYmJiIYTkDAwMDALltJ9P6Wi0iAAAAAElFTkSuQmCC') 2 repeat;
$light-close-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAARElEQVQY02O8f+fafwYCgPH+nWv/FVW0GBgYGBju37mGIgkTZ4SZhK4Qmc+IbB1MAgZgGhjR3YTNatJMIugmon2HDwAAhXk7+HSeZCcAAAAASUVORK5CYII=') no-repeat 2px 2px;
$light-maximize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAIUlEQVQY02NkYGD4z0AAMBKt6P6dazgVKKpoDXFFhIIAAF+YGwEvkwPlAAAAAElFTkSuQmCC') no-repeat 2px 2px;
$light-unmaximize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAP0lEQVQY02O8f+fafwYGBgZFFS0GbOD+nWsMjCQrun/nGooCmBgjAwPDf1wmkK4ImzUobsKlCFmMeEW43AQDACPgOxpaVpZqAAAAAElFTkSuQmCC') no-repeat 2px 2px;
$light-minimize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAH0lEQVQY02O8f+fafwYCgHH4K1JU0cIqef/ONeIVAQCQyiYaiDtkvwAAAABJRU5ErkJggg==') no-repeat 2px 2px;
$light-titlebar: linear-gradient(90deg, #0A246A, #A6CAF0);
$light-titlebar-unfocused: linear-gradient(90deg, #848284, #B1B1B1);
$light-outset: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAR0lEQVQI142NsQmAABDE8psIVo71P8+NIli5ylsJbnJ2itqYMikSts2LqiJs+9i3S87LSnffYRgnACT9CJIej+4mMvMzBzgBDmkw08ilBzYAAAAASUVORK5CYII=') 2 repeat;
$light-inset: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAUUlEQVQI12NMTEz8z4AGUlJSGBgTExP/a2lpwQVFRQQZ4hOSERIlJSUMDAwMDA/uXmdQUNYkIGFvZ81gb2sFN05BWZOB8ejRo/+trKzQ7WcAAMsTHUEIy/SHAAAAAElFTkSuQmCC') 2 repeat;
$light-line: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAtSURBVBhXY+zu7maAgZKSEiYIBQQQIRAfGbAAcU9PD4QDBIz///+HMoGAgQEAzVsKYXHvE/QAAAAASUVORK5CYII=') 2 repeat;
$light-form: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAUUlEQVQI12Ps7u7+z4AGrKysGBi7u7v/X7t2DS5ob2fNEJ+QjJCYN28eAwMDA8ODu9cZFJQ1CUiIiggy2NtawY1TUNZkYDx69Oh/KysrdPsZACEvJkHA6Z/UAAAAAElFTkSuQmCC') 2 repeat;
$light-tab: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAU0lEQVQY02P8//8/AwMDw38G7ICRgYGBgfE/RBUjNhVJSUn/582bx4hXUU9Pz/+SkhIMk5CtZezp6fl/7do1GirCcBNc0YO717H6f836rQxEKwIA3txRzPPSV3oAAAAASUVORK5CYII=') 3 repeat;
$light-tab-inactive: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAVElEQVQY02P8//8/AwMDw38G7ICRgYGBgfE/RBUjNhVJSUn/582bx4hXUU9Pz/+SkhIMk5CtZezp6fl/7do1GirCcBNc0YO717H6f836rQzIJuEFAHj6SqZoTaqwAAAAAElFTkSuQmCC') 3 repeat;
$light-bg-color: #DFDCD6;
$light-form-color: white;
$light-dialog-font-color: black;
$light-highlight-color: #faa61a;
$light-faded-highlight-color: rgba(250,166,26,.2);
$light-selected-color: #316AC5;
$light-selected-font-color: white;
$light-disabled-color: #C6C6C7;
$light-disabled-font-color: #808080;
$light-disabled-font-shadow-color: white;
$light-scrollup: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAA2SURBVChTY7x/59p/BhIAE5QmGgyQBkUVLSgLE2BogCnGpQlFA7oibJrgGnCZiC4+9OOBgQEAWI8KQN56lugAAAAASUVORK5CYII=');
$light-scrollup-active: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAA2SURBVChTY7x/59p/BhIAE5QmGgwlDYoqWlAWKsCqAaYYmyYMDeiK0PkoGnA5A1l80EUcAwMACUQKQDGwYH0AAAAASUVORK5CYII=');
$light-scrollup-inactive: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABESURBVChTY7x/59p/BhIAE5QmGgyQhjXrt0JZmABDA0wxLk0oGtAVYdME14DLRHRxlHhQUNaEsjDBg7vXwfSgizgGBgDyaRw2ygesfAAAAABJRU5ErkJggg==');
$light-scrolldown: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABHSURBVChTY7x/59p/BhIAE5QmGtBeA9wPiipaYAFsAKgGykKyAVkQGaCLozgJXRKbIRh+gCnCZSNWT+NSDAIkhxKtNTAwAAD8yBwuYscw7QAAAABJRU5ErkJggg==');
$light-scrolldown-active: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABGSURBVChTY7x/59p/BhIAE5QmGgxCDSieVlTRgrIwAVAdmEaxASaIDpDFMZyErgmdj9UPMEXYbMTpaWyKQYDkUCJRAwMDAPb7HC5pgyJ+AAAAAElFTkSuQmCC');
$light-scrolldown-inactive: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABMSURBVChTY7x/59p/BhIAE5QmGtBeA9wPa9ZvBQtgAyGB3lAWkg3IgsigpKQEyoIAFCehawIpfnD3OpQHARh+gGnCphgEhn48MDAAANBaGdIPvbc9AAAAAElFTkSuQmCC');
$light-scrolltrack-color: #EFEEEB;
$light-scrollbutton-active-border-color: #8B8B8B;
$light-tooltip-color: #FFFFE1;


//----DARK THEME VARIABLES----//
$dark-dialog: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAASUlEQVQI12O0cvb+z4AGLp48zMBo5ez9PyYhCS7Y3VzH8OrZY4REZkwQAwMDA4OSug4REs8fP0Cx49WzxwyM3Dx8GJYzMDAwAACoQyHf60gV0AAAAABJRU5ErkJggg==') 2 repeat;
$dark-close-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAQ0lEQVQY02O0cvb+z0AAMFo5e//v6p7AwMDAwFBWWoAiCRNnhJmErhCZz4hsHUwCBmAaGNHdhM1q0kwi6CaifYcPAADpzC5Thl7jCwAAAABJRU5ErkJggg==') no-repeat 2px 2px;
$dark-maximize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAIUlEQVQY02M8cu72fwYCgJFoRWWlBTgVdHVPGOKKCAUBAC99MNY/8DzwAAAAAElFTkSuQmCC') no-repeat 2px 2px;
$dark-unmaximize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAP0lEQVQY02O0cvb+z8DAwNDVPYEBGygrLWBgJFlRWWkBigKYGOORc7f/4zKBdEXYrEFxEy5FyGLEK8LlJhgAAGkhPQnyh6z6AAAAAElFTkSuQmCC') no-repeat 2px 2px;
$dark-minimize-button: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAADXTAAA10wEMIUN3AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAHklEQVQY02O0cvb+z0AAMA5/RV3dE7BKlpUWEK8IAE00FgkS+2HRAAAAAElFTkSuQmCC') no-repeat 2px 2px;
$dark-titlebar: linear-gradient(90deg, #567089, rgb(141, 164, 187));
$dark-titlebar-unfocused: linear-gradient(90deg, #262C31, rgb(58, 68, 77));

//--OTHER VARIABLES--//
$winfont: Tahoma, sans-serif;

:root:not(.theme-dark) {
	--dialog: #{$light-dialog};
	--close-button: #{$light-close-button};
	--maximize-button: #{$light-maximize-button};
	--unmaximize-button: #{$light-unmaximize-button};
	--minimize-button: #{$light-minimize-button};
	--titlebar: #{$light-titlebar};
	--titlebar-unfocused: #{$light-titlebar-unfocused};
	--outset: #{$light-outset};
	--inset: #{$light-inset};
	--line: #{$light-line};
	--form: #{$light-form};
	--tab: #{$light-tab};
	--tab-inactive: #{$light-tab-inactive};
	--bg-color: #{$light-bg-color};
	--form-color: #{$light-form-color};
	--dialog-font-color: #{$light-dialog-font-color};
	--highlight-color: #{$light-highlight-color};
	--faded-highlight-color: #{$light-faded-highlight-color};
	--selected-color: #{$light-selected-color};
	--selected-font-color: #{$light-selected-font-color};
	--disabled-color: #{$light-disabled-color};
	--disabled-font-color: #{$light-disabled-font-color};
	--disabled-font-shadow-color: #{$light-disabled-font-shadow-color};
	--scrollup: #{$light-scrollup};
	--scrollup-active: #{$light-scrollup-active};
	--scrollup-inactive: #{$light-scrollup-inactive};
	--scrolldown: #{$light-scrolldown};
	--scrolldown-active: #{$light-scrolldown-active};
	--scrolldown-inactive: #{$light-scrolldown-inactive };
	--scrolltrack-color: #{$light-scrolltrack-color};
	--scrollbutton-active-border-color: #{$light-scrollbutton-active-border-color};
	--tooltip: #{$light-tooltip-color};
}

:root:not(.theme-light) {
	--dialog: #{$dark-dialog};
	--close-button: #{$dark-close-button};
	--maximize-button: #{$dark-maximize-button};
	--unmaximize-button: #{$dark-unmaximize-button};
	--minimize-button: #{$dark-minimize-button};
	--titlebar: #{$dark-titlebar};
	--titlebar-unfocused: #{$dark-titlebar-unfocused};
}

@mixin dialog() {
	box-sizing: border-box;
	border: 2px solid;
	border-image: var(--dialog);
}

@mixin winicon($buttontype) {
	background: #{$buttontype};
	background-size: 9px 9px;
}

@mixin button($bordersize) {
	box-sizing: border-box;
	border: $bordersize solid;
	border-image: var(--outset);
	background-position: 1px 0px !important;
	background-color: var(--bg-color) !important;
	&:active {
		border-image: var(--inset);
		background-position: 2px 1px !important;
	}
}

@mixin taskbarbutton() {
	box-sizing: border-box;
	border: 2px solid;
	border-image: var(--outset);
	background-color: var(--bg-color) !important;
	&:active {
		border-image: var(--inset);
		background-color: var(--form-color) !important;
		background-position: 2px 1px !important;
	}
}

@mixin outset($bordersize) {
	box-sizing: border-box;
	border: $bordersize solid;
	border-image: var(--outset);
	background-color: var(--bg-color) !important;
}

@mixin inset($bordersize) {
	box-sizing: border-box;
	border: $bordersize solid;
	border-image: var(--inset);
	background-color: var(--bg-color) !important;
}

@mixin vertical-line() {
	border-bottom: 2px solid;
	border-image: var(--line);
}

@mixin horizontal-line() {
	border-right: 2px solid;
	border-image: var(--line);
}

@mixin form() {
	box-sizing: border-box;
	border: 2px solid;
	border-image: var(--form);
	background-color: var(--form-color) !important;
}

@mixin tab() {
	box-sizing: border-box;
	border: 3px solid;
	border-image: var(--tab);
	background-color: var(--bg-color) !important;
}

@mixin inactive-tab() {
	box-sizing: border-box;
	border: 3px solid;
	border-image: var(--tab-inactive);
	background-color: var(--bg-color) !important;
}