@use 'widgets';

#app-mount {
	@include widgets.dialog;
}

.winButton-iRh8-Z {
	width: 16px;
	height: 14px;
	opacity: 1;
	margin-top: 6px;
	@include widgets.bigbutton();
}

.winButton-iRh8-Z svg {
	visibility: hidden;
}

.winButtonClose-1HsbF- {
	@include widgets.winicon(var(--close-button));
	margin-left: 2px;
  	margin-right: 2px;
}

.winButtonMinMax-PBQ2gm:nth-child(3) {
	@include widgets.winicon(var(--maximize-button));
}

.winButtonMinMax-PBQ2gm:nth-child(4) {
	@include widgets.winicon(var(--minimize-button));
}

.withFrame-haYltI {
	margin-top: 0px;
}

.typeWindows-1za-n7 {
	background: var(--titlebar);
	margin: 1px;
}

.wordmark-2iDDfm {
	color: white;
  	padding: 1px 0 0 20px!important;
  	background: widgets.$discord-icon;
  	background-size: 16px 16px;
}